
    .container {
        margin-top: 20px;
        overflow: hidden;
        height: auto;
        margin: auto;
    }

    h2 {
        text-align: center;
    }

    #myBtnContainer {
        text-align: center;
        word-spacing: 30px;
    }

    .portfolio-flex {
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
        justify-content: flex-start;
        padding-left: 70px;

    }

    .portfolio-content {
        padding: 12px;
        /* margin-bottom: 18px; */
        margin-top: 18px;
    }

    .portfolio-img {
        height: 200px;
        width: 220px;
        overflow: hidden;
        border-radius: 6px;
        margin: 18px;
        box-shadow: 5px 6px 12px #9e9d9d;
        border-bottom: 60px solid #f3f0f0;

    }

    .topic p {
        text-align: center;
        font-size: 16px;
        font-family: sans-serif;
        margin-top: -60px;
        font-weight: bold;
        color: rgb(66, 65, 65);
    }

    .topic p:hover {
        cursor: pointer;
    }

    .portfolio-flex a {
        color: black;
        text-decoration: none;
    }

    .portfolio-img img {
        width: 100%;
        border-radius: 6px;
    }

    .portfolio-img:hover {
        box-shadow: 5px 8px 12px 12px rgb(163, 161, 161);
        cursor: pointer;

    }

    /* Style the buttons */
    .btn {
        border: none;
        outline: none;
        padding: 12px 16px;
        background-color: #f1f1f1;
        cursor: pointer;
        font-size: 16px;

    }

    .btn:hover {
        background-color: rgb(189, 187, 187);
    }

    .btn.active {
        background-color: #666;
        color: white;
    }

    .png-img img {
        margin-top: 70px;
    }



    @media only screen and (max-width: 600px) {

        .portfolio-flex {
            justify-content: space-between;
            /* word-spacing: 20px; */
            margin: 10px;
        }

        .portfolio-img {
            margin: 20px;
        }

    }